snippet \neg "" iA
¬
endsnippet

snippet \land "" iA
∧
endsnippet

snippet \lor "" iA
∨
endsnippet

snippet \top "" iA
⊤
endsnippet

snippet \bot "" iA
⊥
endsnippet

snippet \vdash "" iA
⊢
endsnippet

snippet \supset "" iA
⊃
endsnippet

snippet \Gamma "" iA
Γ
endsnippet

snippet \tau "" iA
τ
endsnippet

snippet \forall "" iA
∀
endsnippet

snippet \exists "" iA
∃
endsnippet

snippet \nand "" iA
⊼
endsnippet
