snippet \prec "" iA
≺
endsnippet

snippet << "" iA
⟨
endsnippet

snippet >> "" iA
⟩
endsnippet

snippet \li "" iA
ᵢ
endsnippet

snippet \gp "" iA
ᵖ
endsnippet

snippet \alpha "" iA
α
endsnippet

snippet \omega "" iA
ω
endsnippet

snippet \neg "" iA
¬
endsnippet

snippet \land "" iA
∧
endsnippet

snippet \lor "" iA
∨
endsnippet

snippet \top "" iA
⊤
endsnippet

snippet \bot "" iA
⊥
endsnippet

snippet \vdash "" iA
⊢
endsnippet

snippet |- "" iA
⊢
endsnippet

snippet \supset "" iA
⊃
endsnippet

snippet \Psi "" iA
Ψ
endsnippet

snippet \Gamma "" iA
Γ
endsnippet

snippet \Psi "" iA
Ψ
endsnippet
snippet \Delta "" iA
Δ
endsnippet

snippet \beta "" iA
β
endsnippet

snippet \kappa "" iA
κ
endsnippet

snippet \tau "" iA
τ
endsnippet

snippet \sigma "" iA
σ
endsnippet

snippet \forall "" iA
∀
endsnippet

snippet \exists "" iA
∃
endsnippet

snippet \nand "" iA
⊼
endsnippet

snippet \to "" iA
→
endsnippet

snippet -> "" iA
→
endsnippet

snippet \Rightarrow "" iA
⇒
endsnippet

snippet => "" iA
⇒
endsnippet

snippet \step "" iA
⇛
endsnippet

snippet \cong "" iA
≡
endsnippet

snippet || "" iA
∥
endsnippet

snippet \otimes "" iA
⊗
endsnippet

snippet \oplus "" iA
⊕
endsnippet

snippet \one "" iA
①
endsnippet

snippet \par "" iA
⅋
endsnippet

snippet \Downarrow "" iA
⇓
endsnippet

snippet \Uparrow "" iA
⇑
endsnippet

snippet >> "" iA
≫
endsnippet

snippet \geq "" iA
≥
endsnippet

snippet \uparrow "" iA
↑
endsnippet

snippet \multimap "" iA
⊸
endsnippet

snippet \1 "" iA
𝟙
endsnippet

snippet \lolli "" iA
⊸
endsnippet

snippet \up "" iA
↑
endsnippet

snippet \down "" iA
↓
endsnippet

snippet \_1 "" iA
₁
endsnippet

snippet \_2 "" iA
₂
endsnippet
